<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.theo.connect4">

    <application
        android:allowBackup="true"
        android:icon="@drawable/frameicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/frameicon"
        android:supportsRtl="true"
        android:theme="@style/appTheme" >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Board"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>